body {
    font-family: "Avenir Next";
    background-color: #bfd1c9;
    background-image: url(Miku\ at\ home.jpg);
    background-size: repeat;
  }    
  
  li {
    list-style: none;
  }
  
  .header {
    background-color: #c6bfc2;
    color: #fff;
    height: 92px;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-top: -15px;
    margin-left: -10px;
  }
  
  .header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
    margin-top: 5px;
    margin-right: 20px;
  }
  
  .header-list li {
    float: left;
    padding: 23px 20px 0px 20px;
  }
  
  .main {
    padding: 100px 80px;
  }
  
  .copy-container h1 {
    font-size: 140px;
    position: relative;
  }
  
  .copy-container h2 {
    font-size: 60px;
    margin-top: -100px;
    background-color:rgb(255, 251, 251);
    opacity: 0.6;
    border-radius: 30px;
  }
  
  .span-1 {
    color: rgb(147, 142, 142);
  }
  
  .contents {
    height: 500px;
    margin-top: 100px;
  }
  
  .section-title {
    border-bottom: 2px solid #392c32;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
  }
  
  .contents-item {
    float: left;
    margin-right: 40px;
  }
  
  .contents-item p {
    font-size: 24px;
    margin-top: 30px;
  }
  
  .contact-form {
    padding-top: 30px;
  }
  
  input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #392c32;
  }
  /* inputとtextareaのCSSを指定してください */
  
  .contact-submit {
    background-color: #bfd1c9;
    color: #392c32;
  }
  /* contact-submitのCSSを指定してください */
  
  
  .footer {
    background-color: #392c32;
    color: #fff;
    height: 120px;
    padding: 40px;
    margin-bottom: -20px;
    margin-left: -10px;
  }
  
  .footer-logo {
    float: left;
    font-size: 32px;
  }
  
  .footer-list {
    float: right;
  }
  
  .footer-list li {
    padding-bottom: 20px;
  }
  
  .ERO {
    position: absolute;
    top: -70px;
  }
  .HELLO {
    color: rgb(37, 36, 35);
  }
  .span-2 {
    color: rgb(202, 197, 197);
  }
